

.app-container {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
