.page-container {
  padding: 24px;
  width: -webkit-fill-available;
  margin: 0 auto;
  height: -webkit-fill-available;
  overflow: scroll;
}

.page-container h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: var(--text-primary);
}

.page-container p {
  color: var(--text-muted);
}
