.main-navigation-items{
    color: rgb(34, 182, 195);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;


}

.main-navigation-items:hover{
    color: rgb(34, 182, 195);
    font-size: 14px;
    
    
    
    
    
}
.navigation-heading{
    
    font-size: 12px;
}